.joinBtn {
  width: 10em;
  height: 5ex;
  /* background-image: linear-gradient(135deg, #f34079 30%, #fc894d);*/
  background-image: linear-gradient(135deg, #3f52c7 30%, #99725e);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  cursor: pointer;
}

.joinBtn:active {
  box-shadow: 1px 1px 4px #fc8940;
}